.Output{
    width: 70%;
    margin:3rem auto;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    background-color:#2370A1;
    box-shadow: 0px 0px 10px #4A89AC;
    color: white;
    min-height: 40vh;
    padding:1.5rem;
}
.OutputImage{
    width:30% ;
}
.OutputText{
    width: 70%;
}
.verdict{
    font-size:2rem;
    font-weight: 600;
}
.reason{
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
    font-size: 1rem;
}
.seeMore{
    border:0;
    border-radius: 0.3rem;
    background-color:whitesmoke;
    color:#2370A1;
    padding: 8px;
}
.seeMore:hover{
    box-shadow: 0px 0px 8px white;
    transition: 300ms ease;
}